.pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    background-color: var(--dark-color);
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
    background-color: var(--main-color);
    color: white;
}

.pagination button:hover {
    background-color: var(--main-color);
    color: white;
}