.section {
    padding: 50px 10px;
    background: none;
}

.section-blok {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-blok__section {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.section-image {
    width: 350px;
    height: 500px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.section-info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    color: white;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.section-blok__section:hover .section-info {
    transform: translate(-50%, -20%);
}

.section-info h1 {
    font-size: 250%;
}

.section-info h4 {
    font-size: 110%;
}

.section-info a {
    text-decoration: none;
    color: #fff;
}

.section-blok__section:hover .section-image {
    transform: scale(1.1);
    filter: brightness(0.5);
}

/* Мобильная версия */
@media (max-width: 828px) {
    .section-blok {
        flex-direction: column;
    }

    .section-info {
        transform: translate(-50%, 0);
        background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный тёмный фон */
        padding: 10px 15px; /* Добавляем отступы для улучшения читаемости */
        border-radius: 8px; /* Закругляем углы */
    }
    
    .section-blok__section:hover .section-info,
    .section-blok__section:hover .section-image {
        transform: none;
        filter: none;
    }
}

@media (max-width: 750px) {
    .section h1 {
        font-size: 220%;
    }
}

@media (max-width: 482px) {
    .section-image {
        width: 300px;
        height: 250px;
        object-fit: cover;
    }
};