.pagename1 {
    background-image: url('/images/title-bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #000000c8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pagename1-blok {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    color: #fff;
    text-transform: capitalize;
}

.pagename1-blok h1 {
    font-size: 280%;
}

.pagename1-blok h2 {
    text-align: center;
}

.pagename1-parent {
    color: var(--main-color);
    text-decoration: none;
    transition: .3s;
}

.pagename1-parent:hover,
.pagename1-child:hover {
    text-decoration: underline;
}

.pagename1-drop {
    margin: 0 5px;
}

@media (max-width: 480px) {
    .pagename1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.366), rgba(0, 0, 0, 0.07)), url('/images/title-bg.jpg');
        background-position: bottom;
        background-attachment: fixed;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 435px) {
    .pagename1-blok h1 {
        font-size: 170%;
    }
}

@media (max-width: 350px) {
    .pagename1-parent {
        font-size: 90%;
    }

    .pagename1-child {
        font-size: 90%;
    }

    .pagename1-drop {
        font-size: 90%;
    }
}